
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
時間追加ボタン
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.adjust-buttons{
  display: flex;
  justify-content: center;
  gap:20px;
}

  
  .adjust-btn{
    width:200px;
    height: 80px;
    background: rgb(228, 228, 228);
    text-align: center;
  }
  .adjust-select-buttons{
    display: flex;
    justify-content: center;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    bottom: 0;
  }
  .adjust-select-btn{
    width: 100px;
    height:40px;
    color:var(--light-text);
    font-size: 0.8rem;
    
  }
  
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ストップウォッチ
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


.container {
  gap: 50px;
}


.plus-unit{
  display:inline-block;
  margin:0 10px;
  font-size: 1.5rem;
  font-weight: 200;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
スタートボタン
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.start-btn-area {
  width:200px;
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#start-stop-btn,.adjust-btn {
  width: 180px;
  height: 180px;
  transition: all 0.15s;
  background-color: var(--trans-white);
  border-radius: 100px;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  box-shadow: var(--box-shadow-value);
}

#start-stop-btn-text{
  transform: translate(0.2rem, 0);
  text-align: center;
}
.adjust-btn-text {
  transform: translate(0.15rem, 0);
}
.adjust-btn-text {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  
}

#start-stop-btn:hover,.adjust-btn:hover{
  width: 190px;
  height: 190px;
  background-color: var(--trans-white);

}

#start-stop-btn:active,#start-stop-btn.active,.adjust-btn:active,.adjust-btn.active {
  width: 200px;
  height: 200px;
}


